<ion-view view-title="Selection Page" data-ng-show="authentication.user" >
  <ion-content>
  	<div class="bar bar-header bar-calm" style="padding: 1em;">
  		<h1 class="title">Select Option</h1>
	</div>
</br>
  	<div style="margin-top: 2em;">
		<a data-ng-href="#/order"><button class="button icon-left ion-ios-list button-outline button-block button-positive" type="button" value="Submit">Order List</button></a>
		<a data-ng-href="#/report"><button class="button icon-left ion-ios-list button-block button-outline button-dark" type="button" value="Submit">Report</button></a>
	</div>

  </ion-content>
</ion-view>
