<ion-view view-title="Report"   data-ng-show="authentication.user">
  <ion-content>
    <h1>From</h1>
    <label class="item item-input">
      <span class="input-label">Date</span>
      <ionic-datepicker input-obj="startReportDate">
        <button id="startDate" class="button button-block button-positive"> {{start | date:'dd - MMMM - yyyy'}}</button>
      </ionic-datepicker>
    </label>
    <h1>To</h1>
    <label class="item item-input">
      <span class="input-label">Date</span>
      <ionic-datepicker input-obj="endReportDate">
        <button id="endDate" class="button button-block button-positive"> {{end| date:'dd - MMMM - yyyy'}}</button>
      </ionic-datepicker>
    </label>
    <br>
    <button id="showReportBtn" class="button button-balanced" ng-click="generateReport()">Show Report</button>
    <br>
    <hr>
    <div class="item item-text-wrap" ng-show="reportTotalPrice>0">
      Total Sale:&#2547 {{reportTotalPrice}}  Total Quantity Sold: {{reportTotalQuanity}}
    </div>
    <div ng-repeat="report in reportData">
    <div class="card">
      <div class="item item-text-wrap">
        Item: {{report.title}}  Quantity: {{report.quantity}} Price: &#2547 {{report.price}}
      </div>
    </div>
    </div>

  </ion-content>
</ion-view>
